.bicicletas-page {
  padding-top: 120px;
  padding-bottom: 120px;
}

.bicicletas-page .bicicletas-item-conteudo {
  display: flex;
  gap: 40px;
}

.bicicletas-item-info li {
 display: flex;
 align-items: center;
 gap: 12px;
 line-height: 1.33;
 font-size: 18px;
 font-weight: 500;
 font-family: 'Poppins', sans-serif;
}

.bicicleta-item-botao {
  display: flex;
  align-items: center;
}
.bicicletas-item-info .botao::after {
  content: "";
  display: inline-block;
  background: url("../../img/icones/seta.svg") no-repeat;
  width: 18px;
  height: 10px;
  margin-left: 12px;
}

.bicicletas-item-info {
 padding-top: 40px;
}

.bicicletas-page img {
 border-radius: 5px;
}

.bicicletas-page  .bicicletas-item-info {
  display: flex;
  justify-content: space-between;
}

.bicicletas-page .bicicleta-item-botao {
  align-self: end;
}

.bicicletas-page .bicicletas-item-descricao h2:before {
 content: "";
 display: block;
 background-color: #ffbb00;
 width: 12px;
 height: 9px;
 margin-bottom: 4px;
}

.bicicletas-item-img {
 position: relative;
}

.bicicletas-item-img span {
  display: inline-block;
  background-color: #000;
  padding:  10px 8px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 0; 
  border-radius: 4px 0px 0px 4px;
}
.bicicletas-item-bg {
  padding: 40px 20px;
}
.bicicletas-item-bg + .bicicletas-item-bg {
  margin-top: 20px;
}

.bicicletas-item-descricao h2 {
 color: #111;
}

.bicicletas-item-descricao p {
  color: #595959;
}

.bicicletas-item-bg {
  background:  url('../../img/dec/top-right.svg') no-repeat top right 30px;
}

.bicicletas-item-bg:nth-child(even) {
  background: linear-gradient(to right, #fff 30%, #111 0%), url('../../img/dec/top-right.svg') no-repeat top right 30px;
}

.bicicletas-item-bg:nth-child(even) .bicicletas-item-descricao h2 {
  color:#fff;
}

.bicicletas-item-bg:nth-child(even) .bicicletas-item-descricao p {
  color:#b2b2b2;
}

@media screen and (max-width: 860px) {
  .bicicletas-item-conteudo {
    flex-direction: column;
  }
  .bicicletas-item-bg {
    background-image: none;
  }
  .bicicletas-item-bg:nth-child(even) {
    background: #111;
  }
}

@media screen and (max-width: 450px) {
  .bicicletas-item-info {
    flex-direction: column;
    gap: 15px;
  }

  .bicicletas-page .bicicleta-item-botao {
    align-self: flex-start;
  }
  .sub-cabecalho-conteudo p {
    font-size: 14px;
  }
}

