#contato {
  background: #f7f7f7;
}

.contato-bg {
  background: linear-gradient(#111 45%, #f7f7f7 0px);
}

.contato-conteudo {
  box-sizing: border-box;
  max-width: 1160px;
  display: flex;
  padding-bottom: 60px;
}

.contato-endereco {
  background-color: #000;
  border-radius: 5px 0px 0px 5px;
}

.contato-form,
.contato-endereco {
  box-sizing: border-box;
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0,0, 10%);
}


.contato-form {
  width: 70%;
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
}

.contato-endereco > div {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 16px;
  color: #cccccc;
  line-height: 1.5;
}

.lista-rua p, 
.lista-contato a {
  padding-bottom: 8px;
}
.lista-rua,
.telefone,
.lista-contato,
.contato-redes {
  padding-left: 28px;
}

.lista-rua {
  background: url("../../img/icones/local.svg") no-repeat 0px 2px;
}

.lista-contato {
  background: url("../../img/icones/email.svg") no-repeat 0px 2px;
}
.telefone {
  margin-bottom: 60px;
  background: url("../../img/icones/telefone.svg") no-repeat 0px 2px;
}

.contato-redes {
  display: flex;
  gap: 32px;
}

.contato-form label {
  display: block;
  color: #111;
  font-weight: 500;
  padding-bottom: 4px;
}

.contato-form button {
  border: none;
}

.contato-form form > div {
  padding-bottom: 20px;
}

.contato-form input[type="text"],
.contato-form input[type="email"],
.contato-form select,
.contato-form textarea {
  outline: none;
  width: 100%;
  background: #f7f7f7;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
}

input[type="text"]:focus, 
input[type="email"]:focus,
select:focus, 
textarea:focus {
  outline: none;
  border-color: #ffbb00;
  background: #fff;
  box-shadow: 0 0 0 2px #fea;
}
.contato-form .flex > div {
 width: 50%;
}

.mapa-conteudo {
  flex-wrap: wrap;
}

.mapa {
  padding-bottom: 120px;
}

.mapa > h2 {
 padding-bottom: 60px;
}

.mapa-descricao {
 padding: 32px ;
}

.mapa-descricao > h2 {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}

.mapa-descricao > p {
  padding-top: 32px;
  display: flex;
  align-items: center;
}

.mapa-descricao > p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../img/icones/horario.svg") no-repeat;
  margin-right: 12px;
}

.mapa-descricao > h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: #ffbb00;
  margin-right: 12px;
}

.mapa-descricao .ruas {
  gap: 74px;
  margin-left: 24px;
}

.mapa-descricao .ruas > div {
  border-left: 2px solid #ededed;
  padding-left: 12px;
}



.mapa-item img {
  border-radius: 4px 4px 0px 0px;
}

.mapa-item {
  max-width: 560px;
  box-shadow: 0 1px 2px rgba(0, 0,0 ,0.1);
  border-radius: 4px;
}

@media screen and (max-width: 850px) {
  .contato-conteudo,
  .mapa {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .contato-conteudo{
    flex-direction: column;
  }
  .contato-form {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
  }
  .contato-endereco {
    border-radius: 5px 5px 0px 0px;
  }

  .mapa-item {
    max-width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .ruas {
    flex-direction: column;
  }
  .contato-form,
  .contato-endereco {
    padding: 15px;
  }
}