* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  display: block;
}
img[src$=".jpg"] {
  width: 100%;
}


h1, h2, h3, ul,ol, p, blockquote, dd {
  margin: 0px;
}

ul, ol, blockquote {
  padding: 0px;
}

ul li {
  list-style: none;
}

/**Media Query**/
@media screen and (max-width: 820px) {
  .tecnologia-bg, .seguros-bg, .principal-bg, .depoimento-bg{
   background-image: none !important;
  }
}