.bicicletas {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 12px;
}

.bicicletas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicletas-container .bicicletas-item {
  width: 360px;
}

.bicicletas-container .bicicletas-item img {
  border-radius: 4px;
}

.bicicletas-container .bicicletas-item h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.25;
  font-size: 32px;
  color: #111111;
  margin-left: 24px;
  position: relative;
}

.bicicletas-container .bicicletas-item h3:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: #ffbb00;
  position: absolute;
  bottom: 50%;
  left: -12px;
}
