.parceiros {
  padding-bottom: 120px;
}

.parceiros h2 {
  padding-bottom: 60px;
}

.parceiros-marcas {
  display: flex;
}

.parceiros-marcas div {
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
  min-height: 52px;
  min-width: 145px;
  border-left: 2px solid #ededed;
}

.parceiros-marcas div:first-child {
 border-left: none;
}

.parceiros-marcas:first-child div {
  border-bottom: 2px solid #ededed;
}

/**Media query**/
@media screen and (max-width: 950px) {
  .parceiros-marcas {
   flex-direction: column;
  }

  .parceiros-marcas div {
    border-left: none;
    border-bottom: 2px solid #ededed;
  }

  .parceiros-marcas:last-child div:last-child { 
    border-bottom: none;
  }
}