.seguros-vantagens-bg {
  background-color: #000;
  color: #fff;
}
.perguntas,
.seguros-vantagens-bg {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas h2 {
  padding-bottom: 88px;
}

.lista-vantagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 60px;
}

.lista-item {
  flex: 1 0 280px;
}

.lista-item p {
 color: #9C9C9C;
}

.lista-item h3 {
  font-size: 24px;
  font-weight: 600;
}

.lista-item img,
.lista-item h3 {
  padding-bottom: 8px;
}
.perguntas-lista div{
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 6px;
}

.perguntas-lista div:nth-child(odd) {
  background-color: #f7f7f7;
}

.perguntas-lista dt {
  font-size: 18px;
  font-weight: 600;
}

dt, .perguntas-lista p {
  display: flex;
  align-items: center;
}

dt {
  justify-content: space-between;
  padding-bottom: 16px;
}

dd {
  padding-left: 20px;
  color: #404040;
}

.perguntas-lista p::before {
 content: "";
 display: inline-block;
 width: 12px;
 height: 8px;
 background-color: #ffbb00;
 margin-right: 8px;
 align-self: center;
}

.perguntas-lista dt::after {
  content: "";
  display: inline-block;
  background: url(../../img/icones/seta-abrir.svg) no-repeat;
  width: 14px;
  height: 6px;
}

@media screen and (max-width: 600px) {
  .perguntas h2 {
    padding-bottom: 44px;
    font-size: 36px;   
  }
  .perguntas {
    margin: 20px 10px;
  }

  .perguntas,
  .seguros-vantagens-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .perguntas-lista dt, .perguntas-lista dd {
    font-size: 16px;
  }

}

@media screen and (max-width: 450px) {
  .perguntas-lista div {
    padding: 0px;
  }
  
}