#orcamento .contato-endereco h2,
#orcamento .contato-form h2 {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
}

#orcamento .contato-endereco h2 {
  color: #b2b2b2;
}

#orcamento .contato-form h2 {
  color: #404040;
}

#orcamento .contato-form div + h2 {
  padding-top: 40px;
}
#orcamento .contato-endereco h2::before,
#orcamento .contato-form h2::before {
  content:"";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: #ffbb00; 
  margin-right: 8px;
}

#orcamento input, 
#orcamento select {
  color: #717171;
}

#container-termos {
  display: flex;
  align-items: center;
}

#orcamento input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

#orcamento .contato-endereco {
  width: 40%;
}

#orcamento .contato-endereco input {
  display: none;
}

#orcamento .contato-endereco label {
  background: #2e2e2e;
  color: #cccccc;
  border-radius: 4px;
  padding: 12px 16px;
  display: inline-block;
  min-width: 100px;
  line-height: 22px;
}

#orcamento .contato-endereco input:checked + label {
 background-color:#fff;
 color: #111;
 border: 2px solid #ffbb00;
}

#orcamento .contato-endereco input:checked + label::before {
  border-color: #717171;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 6px #717171;
}

#orcamento .contato-endereco label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #9c9c9c;
  border-radius: 50%;
  margin-right: 8px;
}

#orcamento .contato-endereco h2 + input + label  {
  margin-right: 30px;
}

#orcamento  .orcamento-conteudo label {
  width: 100%;
  box-sizing: border-box;
}

#orcamento  .orcamento-conteudo span {
  float: right;
  color: #111;
}

.orcamento-detalhes {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  gap: 25px;
  width: 100%;
}

.orcamento-detalhes img[src$="svg"] {
  width: 16px;
  height: 16px;
}

.orcamento-detalhes img[src$="jpg"] {
  border-radius: 4px;
  max-width: 50%;
  box-sizing: border-box;
}

.orcamento-detalhes li {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #595959;
}

.orcamento-conteudo >  h2 {
  padding-top: 40px;
}

#seguro:checked ~ #orcamento-seguro,
#bikcraft:checked ~ #orcamento-bikcraft {
  display: block;
}

.orcamento-conteudo,
.orcamento-conteudo label span{
  display: none;
}

.orcamento-conteudo input:checked + label span {
  display: inline;
}

.orcamento-conteudo input:checked + label + .orcamento-detalhes {
  display: flex;
} 

.orcamento-conteudo label {
  margin-bottom: 15px;
}

@media screen and (max-width: 850px) {
  #orcamento .contato-endereco {
    width: 100%;
  }

  #orcamento .contato-endereco h2 + input + label {
    margin-right: 15px;
  }

  #container-termos label {
    font-size: 14px;
  }

}